// Enter any custom Sass in this file.


$disclaimer-tag-backgroundColor: #fcd600 !default;
$disclaimer-tag-color: $color-light !default;
$disclaimer-text-color: $text-color !default;


$button-color: #027dff !default;
$button-color-pressed: #027dff !default;
$button-color-hover: $button-color-pressed !default;
$button-foregroundColor: white !default;
$button-foregroundColor-visited: white !default;
$button-foregroundColor-focus: $text-color;
$button-color-dropShadow: #002d18 !default;
$button-color-focus: #fcd600 !default;
$button-color-highContrast: #eeeeee !default;
$button-color-hover-highContrast: #DBDAD9 !default;
$button-foregroundColor-highContrast: $color-dark-highContrast !default;

.btn-download {
    border: none !important;
    background: #027dff !important;
    color: white !important;
    box-shadow: 0 2px 0 #002d18;
    border-radius: 0;
    position: relative;
}

#search button {
    color: white;
    background-color: #e0020e;
    border: 1.25px solid #e0020e;
    border-radius: 0;
}

#disclaimer .phase-tag {
    background: #fcd600;
    color: white;
    text-transform: uppercase;
    padding: 2px 5px;
}

@media only screen and (min-width: 700px) {
    .site-intro {
        padding-right: 300px;
        min-height: 180px;
        background: url(/assets/img/drc_odd_image.png);
        background-position: right 60px top;
        background-size: 280px;
        background-repeat: no-repeat;
    }

    .frontpage-goals-grid .frontpage-goals-grid-title {
        margin-top: 20px;
        margin-bottom: 14px;
        width: 76%;
        border-top: 6px solid #e0020e;
        padding: 30px 0px 0px;
    }

    .frontpage-goals-grid {
        margin: 40px 0 20px 0;
        border-top: 0px solid #ccc;
    }

    #main-content {
        padding-top: 0px;
        padding-bottom: 15px;
        /* padding-right: 300px; */
        /* min-height: 180px; */
        background: url(/assets/img/drc_odd_image.png);
        /* background-position: right 33px top; */
        background-size: 319px;
        background-repeat: no-repeat;
        background-position: 96% -4%;
        /* height: 213px; */
        /* margin: 15px 0px 0px 0px; */
    }

    .lead-copy {
        font-size: 22px;
        width: 95%;
    }
}
