.btn-download {
    border: none !important;
    background: #027dff !important;
    color: white !important;
    box-shadow: 0 2px 0 #002d18;
    border-radius: 0;
    position: relative;
}

#search button {
    color: white;
    background-color: #e0020e;
    border: 1.25px solid #e0020e;
    border-radius: 0;
}

#disclaimer .phase-tag {
    background: #fcd600;
    color: white;
    text-transform: uppercase;
    padding: 2px 5px;
}
